# /checkpoints/ckpt-KD/*
# /checkpoints/ckpt-recognition/arcface_weight/*
# /checkpoints/ckpt-recognition/TeacherModel/*
# /checkpoints/ckpt-recognition/Tested/*
# /data/CASIA-WebFace/*
# /data/lfw-align-128/*
# 要忽略文件夹中的文件但保留目录结构，在要保留的目录下设置.gitignore文件，内容为* \n !.gitignore
/data/CASIA-WebFace.zip
/data/IJB-C_Protocols_update.tar.gz
/data/lfw-align-128.tar.gz
/data/AgeDB_data.zip
/data/protocols
recognition/blog/*
recognition/README.md